
NEXT_PUBLIC_API_BASE=http://localhost:30000

API_KEY='HASH'
INTERNAL_ACCESS_KEY='HASH
SECURITY_ACCESS_KEY='HASH'
API_ACCESS_KEY='HASH'
ETHNOS_API_KEY='HASH'
ETHNOS_API_ACCESS_KEY='HASH'
API_SECRET_KEY='HASH'
ETHNOS_API_KEY_2='HASH'
