.env
.env.*
!.env.example
.next/
.node/
.tmp-sitemap/
.turbo/
.vercel/
.vscode/
*.log
*.pid
*.pid.lock
.DS_Store
build/
coverage/
dist/
node_modules/
npm-debug.log*
out/
pnpm-debug.log*
tsconfig.tsbuildinfo
workspaces.json
yarn-error.log*
.idea/
